@import "tailwindcss";
@plugin "daisyui";

:root{
    --primary: #192335;
    --secondary: #3D4C66;
    color: black;
    --font-karma: "Karma", serif;
    background: #F8FAFC;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 /* font-family: var(--font-karma), serif; */
/* Apply the custom font globally */
/* ::-webkit-scrollbar {
   
    display: none;
} */

::-webkit-scrollbar {
  display: none;
}

/* Hilangkan scrollbar di Firefox */
* {
  scrollbar-width: none; /* Firefox */
}

/* Hilangkan scrollbar di IE/Edge lama */
* {
  -ms-overflow-style: none; /* IE & Edge Legacy */
}